.activities-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.workout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.images {
  height: 80px;
  width: 80px;
}
.calculation-activities-container {
  background-color: rgba(212, 212, 112, 0.76);
}
